@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

html,
body {
  
  background-color: black;
  scroll-behavior: smooth;
}

body {
  /* height: 1000vh; */
}

p {
  font-family: montserrat;
}

.header {
  position: relative;
}

/* .header .menu {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.12);
  color: white;

  border-radius: 30px;
  padding: 10px 0px 10px 35px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  backdrop-filter: blur(14px);
  backdrop-filter: saturate(160%);
  -webkit-backdrop-filter: blur(14px);
  -webkit-backdrop-filter: saturate(160%);

  transition: all 0.5s ease;
  cursor: pointer;
  height: 55px;

  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;

  box-shadow:
    0 0 22px rgba(255, 255, 255, 0.38), 
    0 0 40px rgba(255, 255, 255, 0.20),  
    0 4px 14px rgba(0, 0, 0, 0.75),    
    inset 0 1px 0 rgba(255, 255, 255, 0.08);
} */

.header .menu::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  background: linear-gradient(180deg, rgba(255,255,255,0.06), transparent 40%);
  mix-blend-mode: overlay;
}



.header .menu ul {
  list-style: none;
  display: flex;
  gap: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin: 0;
  padding: 0;
  align-items: center;
  pointer-events: none;
}

.header .menu li {
  opacity: 0;
  transition: all 0.4s ease;
  transform: translateY(0);
}

.header .menu ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  padding: 6px 20px;
  transition: all 0.3s ease;
  font-family: montserrat;
  font-size: 16px;
}

.header .menu .icon img {
  width: 20px;
  height: 20px;
  transition: opacity 0.3s ease;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 17px;
  z-index: 10;
}
.header .menu li .active {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.35),
      rgba(255, 255, 255, 0.1) 60%,
      transparent
    ),
    radial-gradient(
      circle at 35% 15%,
      rgba(255, 255, 255, 0.25),
      transparent 70%
    ),
    rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px) saturate(200%);
  -webkit-backdrop-filter: blur(20px) saturate(200%);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  border-radius: 99999px;
  border: 0.5px solid rgba(255, 255, 255, 0.08);
}

.menu:hover li {
  transform: translateY(0) scale(1);
  transition-delay: 0.1s;
}

.header .menu li a:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.35),
      rgba(255, 255, 255, 0.1) 60%,
      transparent
    ),
    radial-gradient(
      circle at 35% 15%,
      rgba(255, 255, 255, 0.25),
      transparent 70%
    ),
    rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px) saturate(200%);
  -webkit-backdrop-filter: blur(20px) saturate(200%);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  border-radius: 99999px;
  border: 0.5px solid rgba(255, 255, 255, 0.08);
}

@media (min-width: 751px) {
  .menu:not(.menu-open):hover {
    width: 670px;
  }

  .menu:not(.menu-open):hover ul,
  .menu:not(.menu-open):hover li {
    opacity: 1;
    pointer-events: auto;
  }
}

@media (max-width: 750px) {
  .header .menu {
    width: 150px;
    padding: 0;
    height: 45px;
  }
  .header .menu .icon img {
    top: 11px;
    left: 12px;
  }
  .header .menu-open {
    width: 300px !important;
    height: 200px !important;
  }

  .header .menu-open .icon {
    top: 30px;
    left: 20px;
  }
  .header .menu-open ul {
    opacity: 1;
    flex-direction: column;
    gap: 10px;
    pointer-events: auto;
  }
  .header .menu-open ul li {
    opacity: 1;
  }
}

.scroll-stack-wrapper {
  scroll-behavior: auto !important;
}

.scroll-stack-card {
  margin-bottom: 0 !important;
}

.scroll-stack-card {
  will-change: transform, filter !important;
  backface-visibility: hidden !important;
  transform-style: preserve-3d !important;
}

.shiny {
  background-image: linear-gradient(120deg, rgba(255,255,255,0) 40%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 60%);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 3s linear infinite;
}


@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-meteor-effect: meteor 5s linear infinite;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}